.button {
	background-color: var(--color-medium);
	color: #343a40;
	padding: 0.8rem 1.2rem;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover {
	background-color: var(--color-dark);
}
